html {
  font-size: 16px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.row-1 {
  padding: 3rem 0;
  background-color: rgb(35, 2, 63);
}

h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  margin-top: 0;
  margin-bottom: 0;
}

.row-1 input {
  border-radius: 1.125rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(191, 191, 191);
}

.row-1 i {
  background-color: rgb(255, 102, 204);
  text-align: center;
  border-radius: 1.125rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.row-2 {
  background-color: rgb(104, 0, 255);
}

h2 {
  font-size: 1.125rem;
  color: rgb(255, 255, 255);
//  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#song-list i {
  color: rgb(255, 0, 171);
  margin-top: 0.45rem;
  font-size: 2rem;
}

#song-list h2 {
  color: rgb(74, 74, 74);
}
